/* Variables */
/* :root {
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F4F8FD;
    --white-color: #FFFFFF;
    --accent-color: #276ED8;
    --footer-color: #194484;
    --primary-button-color: #06B25F;
    --secondary-button-color: #2DA531;
    --primary-text-color: #242424;
    --primary-title-color: #194484;
    --secondary-title-color: #0D6EB7;
    --accent-title-color: #00A4E8;
} */

/* Main */







