    $primary-text-color: #242424;
    $primary-bg-color: #E5E5E5;
    $secondary-bg-color: #F4F8FD;
    $white-color: #FFFFFF;
    $accent-color: #276ED8;
    $footer-color: #194484;
    $primary-button-color: #06B25F;
    $secondary-button-color: #2DA531;
    $primary-text-color: #242424;
    $primary-title-color: #194484;
    $secondary-title-color: #0D6EB7;
    $accent-title-color: #00A4E8;
    $form-outline-color: #D7D7D7;
    $form-text-color: #A9A9A9;
    $light-blue-color: #84B5FF;
    $footer-bottom-text: #4C4C4C;
    $box-shadow-color: rgba(0, 0, 0, 0.35) 
    // $box-shadow-primary: rgba(0, 0, 0, 0.12);
    // $box-shadow-secondary: rgba(0, 0, 0, 0.14);
    // $box-shadow-additional:  rgba(0, 0, 0, 0.2);
