// Mobile menu
.menu__icon {
    fill: var(--white-color);
}

.menu__button {
    position: absolute;
    top: 15px;
    right: 30px;

    padding: 0;
    margin: 0;

    width: 20px;
    height: 20px;
}