.contacts__container {
    padding-top: 60px;
    padding-bottom: 80px;
}

.contacts__subtitle {
    padding-top: 20px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.contacts__list {
    padding-bottom: 60px;
}

.contacts__description {
    align-items: center;

    padding-top: 34px;
    padding-bottom: 30px;    
}

.contacts__item {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.contacts__link {
    color: $primary-text-color;

    &hover,
    &active,
    &visited {
        color: $primary-text-color;
    }
}

.contacts__icon {
    // display: inline-block;
    margin-right: 18px;
}

.contacts__icon--location {
    margin-right: 24px;
}

.contact__details {
    margin: 0;

    font-size: 20px;
    text-align: left;
}

.contact__details--location {
    line-height: 30px;
}