.header {
    position: relative;

    z-index: 100;
}

.header__container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    align-items: center;
    justify-content: space-between;

    height: 50px;

    padding: 10px 30px;
}

.header__logo--img {
    margin-right: 4px;
}

.header__logo {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
}

.header__logo--link:visited {
    text-decoration: none;
    color: $white-color;
}

